<p id="notice"><%= notice %></p>

<p>
  <strong>Inputed encode:</strong>
  <%= @decode.inputed_encode %>
</p>

<p>
  <strong>Inputed key:</strong>
  <%= @decode.inputed_key %>
</p>

<%= link_to 'Edit', edit_decode_path(@decode) %> |
<%= link_to 'Back', decodes_path %>
